/* Chatting CSS */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  dislpay: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  padding: 10px 0 50px;
  margin: 10px 20px;
  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 360px;
}

.wrap .chat {
  display: flex;
  align-items: flex-start;
  padding: 0px 10px;
}

.wrap .chat .icon {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffff;
}

.wrap .chat .icon i {
  position: absolute;
  top: 15px;
  left: 18%;
  font-size: 0.9rem;
  color: #aaa;
}

.wrap .chat .textbox {
  position: relative;
  display: inline-block;
  max-width: calc(100% - 70px);
  padding: 10px;
  margin-top: 7px;
  font-size: 13px;
  border-radius: 10px;
}

.wrap .chat .textbox::before {
  position: absolute;
  display: block;
  top: 0;
  font-size: 1.5rem;
}

.wrap .ch1 .textbox {
  margin-left: 20px;
  background-color: #ffff;
  padding: 10px 13px;
}

.wrap .ch1 .textbox > h3 {
  margin-top: 10px;
}

.wrap .ch1 .textbox > p {
  margin-top: 10px;
}

.wrap .ch1 .textbox > hr {
  margin: 10px 0px;
}

.wrap .ch1 .textbox ol,
ul {
  margin-top: 3px;
  margin-left: 25px;
}

.wrap .ch1 .textbox::before {
  left: -15px;
  content: "◀";
  color: #ffff;
}

.wrap .ch2 {
  flex-direction: row-reverse;
}

.wrap .ch2 .textbox {
  margin-right: 20px;
  background-color: #f9eb54;
  padding: 10px 13px;
}

.wrap .ch2 .textbox::before {
  right: -15px;
  content: "▶";
  color: #f9eb54;
}

/* 입력, 전송버튼 CSS */
.input_container {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.input_textbox {
  flex: 9;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
  flex: 1;
  display: none;
  background-color: #007bff;
  border: none;
  color: white;
  margin-left: 5px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* 응답 값 로딩 CSS */
.ellipsis-loading {
  font-size: 20px;
  text-align: center;
}

.ellipsis-loading::after {
  content: " .";
  animation: ellipsis 1.2s infinite;
}

@keyframes ellipsis {
  0%,
  100% {
    content: ".";
  }
  25% {
    content: ". .";
  }
  50% {
    content: ". . .";
  }
  75% {
    content: ". . . .";
  }
}

.shef_info {
  margin: 15px;
  display: flex;
  justify-content: center; /* 가로 방향으로 중앙 정렬 */
  align-items: center; /* 세로 방향으로 중앙 정렬 */
  /*height: 100vh;*/ /* 뷰포트 높이를 100%로 설정하여 전체 화면에서 중앙 정렬 */
}
img {
  width: 50%; /* 이미지의 너비를 50%로 설정 */
  max-width: 600px; /* 최대 너비를 400px로 제한 */
  border-radius: 4px;
}
